@import "../styles/variables.scss";

.booking-page {

  .search-form {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-form-service {
      margin: 0.3em
    }
    .search-form-stylist {
      margin: 0.3em
    }
    .search-form-date {
      margin: 0.3em
    }

    .btn-search {
      border: none;
      border-radius: 5px;
      font-size: 1.1em;
      padding: 1em 2em;
      cursor: pointer;
  
      background-color: #eb6663;
      color: white;
    }
  }

  .weekly-cal {
    margin: 4em;
    display: flex;
    justify-content: center;

    .btn-shift-week {
      border: none;
      background: transparent;
      font-size: 1.2em;
      cursor: pointer;
      padding: 0.7em;

      &:disabled {
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }
}