@import "../styles/variables.scss";

.services-page {
  // border: $test3;
  width: 90%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .service-group {
    // border: $test2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .service-group-box {
      // border: $test;
      width: 100%;
      background: linear-gradient(to right, #B8C6DB, #F5F7FA);
      margin-bottom: 1em;
      height: 3em;
      cursor: pointer;
  
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .service-group-line {
      font-size: 1.2em;
      padding-left: 0.2em;
    }
    
    .arrow {
      font-size: 0.9em;
      padding-left: 2em;
    }
  }
  
  .service-box-main {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .service-box {
    border: 0.5px solid #B8C6DB;
    border-radius: 5px;
    background: #F5F7FA;
    width: 45%;
    min-width: 300px;
    min-height: 10em;
    margin: 0.5em;
    padding: 1em;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    .service-box-name-price {
      display: flex;
      justify-content: space-between;
    }
  
    .service-name {
      font-weight: 600;
    }
    .service-description {
      text-align: justify;
    }
    
    .service-button {
      display: flex;
      justify-content: flex-end;
    }
  
    .btn-service-req {
      border: none;
      border-radius: 5px;
      font-size: 1.1em;
      padding: 0.5em 1em;
      cursor: pointer;
  
      background-color: #eb6663;
      color: white;
    }
  }
}


@media only screen and (max-width: 960px) {

  .services-page {
    margin-top: 130px;
    
    .service-group {
      width: 100%;
    
      .service-group-box {
        margin: auto;
        margin-bottom: 1em;
        height: 3em;
        width: 100%;
      }
        
      .service-group-line {
        font-size: 1.1em;
        padding-left: 0.2em;
      }
      
      .arrow {
        font-size: 0.8em;
        padding-left: 2em;
      }
    }
    
    .service-box-main {
      width: 100%;
      margin: 0.5em;
    }
    
    .service-box {
      width: 45%;
      min-width: 300px;
      min-height: 10em;
      margin: 0.3em;
      padding: em;
      font-size: 0.9em;
    
      .service-box-name-price {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    
      .btn-service-req {
        font-size: 1em;
        padding: 0.5em 1em;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .services-page {
    margin-top: 130px;
    
    .service-group {
      width: 100%;
    
      .service-group-box {
        margin: auto;
        margin-bottom: 1em;
        height: 3em;
        width: 100%;
      }

      .service-group-line {
        font-size: 1em;
        padding-left: 0.2em;
      }
      
      .arrow {
        font-size: 0.7em;
        padding-left: 2em;
      }
    }
    
    .service-box-main {
      width: 100%;
      margin: 0.2em;
    }
    
    .service-box {
      width: 45%;
      min-width: 300px;
      min-height: 8em;
      margin: 0.3em;
      padding: em;
      font-size: 0.8em;
    
      .service-box-name-price {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    
      .btn-service-req {
        font-size: 1em;
        padding: 0.5em 1em;
      }
    }
  }
}