@import "../../styles/variables.scss";

.dashboard-report-page {
  // border: $test;
  margin: 3em;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .search-employee-part {
    // border: $test1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .title {
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: 1em;
    }

    .search-form {
      margin-left: 1em;

      .input-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.5em;

        .title-2 {
          font-size: 1.1em;
          width: 130px;
        }
        
        .search-employee, .search-service, .date-picker {
          width: 245px;
        }
      }

      .buttons {
        // border: $test1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1em;
      }
  
      .btn-reset, .btn-search {
        border: 0.2em solid LightSeaGreen;
        border-radius: 10px;
        width: 120px;
        background-color: LightSeaGreen ;
        color: white;
        cursor: pointer;
        font-size: 1.1em;
        padding: 0.5em 1em;
        vertical-align: middle;
        // white-space: nowrap;
        margin: 0.2em;
    
        &:hover, &:focus {
          outline: none;
          // background-color: #eb6663;
          border:0.2em solid PaleTurquoise;
          border-radius: 10px;
          color: PaleTurquoise;
        }
      }
    }
  }

  .result-part {
    border-top: 1px solid gray;
    width: 100%;
    margin-top: 2em;

    .report-params-part {
      margin: 2em;
      font-size: 1.2em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .report-param {
      color: DodgerBlue;
    }

    th {
      font-size: 1.1em; 
    }

    .date-row {
      background-color: black;
    }
    .date-cell {
      color: white;
      font-size: 1.1em; 
    }

    .noting-found {
      width: 100%;
      font-size: 1.2em;
      font-weight: 600;
      color: darkmagenta;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 960px) {
  .dashboard-report-page {
    margin: 2em;
    margin-top: 120px;
  
    .result-part {
      border-top: 1px solid gray;
      width: 100%;
      margin-top: 1em;
  
      .report-params-part {
        margin: 1em;
        font-size: 1.1em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
  
      .noting-found {
        width: 100%;
        font-size: 1.1em;
        font-weight: 600;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .dashboard-report-page {
    margin: 1em;
    margin-top: 120px;
  
    .search-employee-part {
  
      .title {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 1em;
      }
  
      .search-form {
        width: 100%;
        margin-left: 0.5em;
  
        .input-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-bottom: 1.2em;
  
          .title-2 {
            font-size: 1.1em;
            width: 130px;
            margin-bottom: 0.5em;
          }
        }
  
        .buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 1em;
        }
    
        .btn-reset, .btn-search {
          border: 0.2em solid LightSeaGreen;
          border-radius: 10px;
          width: 110px;
          background-color: LightSeaGreen ;
          color: white;
          cursor: pointer;
          font-size: 1em;
          padding: 0.5em 0.8em;
          vertical-align: middle;
          // white-space: nowrap;
          margin: 0.2em;
      
          &:hover, &:focus {
            outline: none;
            // background-color: #eb6663;
            border:0.2em solid PaleTurquoise;
            border-radius: 10px;
            color: PaleTurquoise;
          }
        }
      }
    }
  
    .result-part {
      border-top: 1px solid gray;
      width: 100%;
      margin-top: 1em;
  
      .report-params-part {
        margin: 1em;
        font-size: 1em;
      }

      .date-cell {
        color: white;
        font-size: 1em; 
      }

      .noting-found {
        width: 100%;
        font-size: 1em;
        font-weight: 600;
      }
    }
  }
}