@import "../../styles/variables.scss";

.customer-report-page {
  // border: $test2;
  margin: 3em;
  margin-top: 150px;

  .title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
  }

  th {
    font-size: 1em;
    background-color: black;
    color: snow;
  }
}

@media only screen and (max-width: 960px) {
  .customer-report-page {
    margin: 2em;
    margin-top: 120px;
  
    .title {
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: 1em;
    }
  }
}
@media only screen and (max-width: 500px) {
  .customer-report-page {
    margin: 1em;
    margin-top: 120px;
  
    .title {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0.7em;
    }
  }
}