@import "../../styles/variables.scss";

.dashboard-page {
  margin-top: 200px;

  .btn-setting {
    border: none;
    background-color: transparent;
    font-size: 1.1em;
    color: black;
    cursor: pointer;

    &:hover {
      color: LightSeaGreen;
    }
  }

  .sign {
    font-size: 3em;
  }

}